@model ControleFinanceiroNetCore.Models.Produto

@{
    ViewData["Title"] = "Produto";
}

<div class="row">
    <div class="col-md-2">
        <form method="post">
            <table class="table">
                <tr>
                    <td>Código</td>
                    <td>@Html.ValueFor(modelItem => Model.Codigo)</td>
                </tr>
                <tr>
                    <td>Descrição</td>
                    <td>@Html.TextBoxFor(modelItem => Model.Descricao)</td>
                </tr>
                <tr>
                    <td>Pontos</td>
                    <td>@Html.ValueFor(modelItem => Model.Pontos)</td>
                </tr>
            </table>
        </form>
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</div>
